@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
.main {
  min-height: 100vh;
  font-family: "Titillium Web", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 750px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.containerSection {
  min-height: 100vh;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  background-color: #f8fafc;
}
.containerSection article {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .containerSection {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .containerSection {
    padding: 25px 28px;
  }
}

.form {
  margin: auto 0;
  margin-top: 20px;
}
.form h1 {
  font-weight: 600;
  font-size: 2.25rem;
  color: #1e293b;
}
.form p {
  font-weight: 400;
  font-size: 1rem;
  color: #475569;
  margin-top: 10px;
}
.form form {
  margin: 35px 0 30px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 14px;
}
.form label {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  color: #1e293b;
}
.form label div {
  display: flex;
  justify-content: space-between;
}
.form label .containerPassword {
  position: relative;
}
.form label .containerPassword input {
  padding-right: 40px;
}
.form label .containerPassword img {
  position: absolute;
  right: 12px;
  bottom: 12px;
  cursor: pointer;
}
.form label input {
  width: 100%;
  margin-top: 8px;
  padding: 14px 10px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #e2e8f0;
  outline: 0;
}
.form label input:hover, .form label input:focus {
  border: 1px solid #7c3aed;
}
.form label span:hover {
  text-decoration: none;
}
.form button {
  margin-top: 20px;
  padding: 14px;
  border: 0;
  outline: 0;
  background-color: #7c3aed;
  color: white;
  font-weight: 1rem;
  font-weight: 600;
  transition: background-color 0.14s ease-out;
  transition: cursor 0.14s ease-out;
}
.form button:hover {
  background-color: #9f67ff;
}
.form button:disabled {
  background-color: rgba(159, 103, 255, 0.8470588235);
  cursor: not-allowed;
}
.form span {
  color: #7c3aed;
  cursor: pointer;
}
.form span:hover {
  text-decoration: underline;
}
@media (max-width: 450px) {
  .form p,
  .form h1 {
    text-align: center;
  }
}

.errorInput {
  border: 1px solid #ed3a5a !important;
}

.errorContent {
  margin-top: 6px;
  color: #ed3a5a;
}

.containerRight {
  min-height: 100vh;
  overflow: hidden;
  background-image: url(../../public/images/bgLogin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 750px) {
  .containerRight {
    display: none;
  }
}

.containerPhoto {
  background-color: rgb(229, 229, 229);
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.containerPhoto img {
  margin: 0 auto;
  width: 25px;
  height: -moz-fit-content;
  height: fit-content;
}
.containerPhoto .imgAvatar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.containerPhoto input {
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}/*# sourceMappingURL=Home.module.css.map */