.container {
  display: flex;
  flex-direction: row;
  background-color: #7c3aed;

  @media (max-width: 680px) {
    flex-direction: column;
  }
}

.containerRight {
  div {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
